* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #343f4f;
  padding: 0 35px;
}
.conteiner {
  max-width: 1200px;
  position: relative;
}
.container svg {
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container svg:first-child {
  left: 23px;
  display: none;
}
.container svg:last-child {
  right: 23px;
}
.container .carousel {
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 340px;
  object-fit: cover;
  width: calc(100% / 3);
  margin-left: 14px;
}
.carousel img:first-child {
  margin-left: 0;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
